<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
	 <link rel="stylesheet" th:href="@{/dist/css/home.css}">
	 <link rel="stylesheet" th:href="@{/dist/css/projects.css}">
</th:block>
  	  
<th:block layout:fragment="content">
	<div class="home-layout">
		<nav th:replace="~{layout/homeSidebar::homeSidebar('projects')}"></nav>
			
		<div class="section">
			<!-- 페이지 제목 영역 -->
			<div class="project-heading">
				<h1 class="project-title">참여중인 프로젝트</h1>
				<p class="project-description">참여중인 내 프로젝트의 목록을 조회해보세요.</p>
			</div>
			
			<div class="project-menu">
				<div class="project-card project-card-view">
					<span class="project-card-title">참여 프로젝트 조회</span>
					<span class="project-card-description">
						참여중인 프로젝트를 조회해보세요.
					</span>
					
					<p th:if="${#lists.isEmpty(participatingProjects)}">
						⚠️현재 참여 중인 프로젝트가 없습니다.
					</p>
					
					<div class="project-item"
					     th:each="project : ${participatingProjects}">
					
					    <div>
					        ⭐ <span th:text="${project.subject}"></span>
					    </div>
					
					    <div th:switch="${project.projectStatus}">
					        상태:
					        <a th:case="0"
					        	   class="btn btn-outline-success"
					        	   th:href="@{/project(tab='feed')}">
					        	   예정
					        	</a>
					        <a th:case="1"
					           class="btn btn-outline-success"
					        	   th:href="@{/project(tab='feed')}">
					        	   진행중...
					        	</a>
					        <a th:case="2"
					           class="btn btn-outline-success"
					        	   th:href="@{/project(tab='feed')}">
					        	   완료
					        	</a>
					        <a th:case="*"
					           class="btn btn-outline-success"
					        	   th:href="@{/project(tab='feed')}">
					        	   확인필요
					        	</a>
					    </div>
					
					    <div>
					        기간:
					        <span th:text="${project.startAt}"></span>
					        ~
					        <span th:text="${project.endAt}"></span>
					    </div>
					
					    <div>
					        진행률:
					        <span th:text="${project.progress}"></span>
					    </div>
					</div>
				</div>

			</div>
		
		</div>
	</div>
	
</th:block>
 
<th:block layout:fragment="script">
</th:block> 

</html>
