<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.app.mapper.ManageMapper">

	<insert id="insertProject" parameterType="ManageDto">
		INSERT INTO projects(project_id, workspace_id, subject, content, start, end, status, progress,
			archive, created)
			VALUES (seq_projects.NEXTVAL, #{project_id}, #{workspace_id}, #{subject},
				#{content}, #{start}, #{end}, #{status}, #{progress}, #{archive}, #{created})
	</insert>
	
</mapper>