<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/dist/css/home.css}">
    <link rel="stylesheet" th:href="@{/dist/manage/manage.css}">
    <link rel="stylesheet" th:href="@{/dist/css/page-shell.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="home-layout manage-layout">
        <nav th:replace="~{layout/sidebar::manageSidebar('notice')}"></nav>

        <div class="section shell-section">
            <div class="page-heading">
                <h1 class="page-title">공지사항</h1>
                <p class="page-description">워크의 공지사항을 확인하세요.</p>
            </div>

            <div class="shell-content">
                <!-- TODO: 담당자가 공지사항 목록 UI를 추가할 영역 -->
            </div>

            <div class="shell-actions">
                <a th:href="@{/noticeDetail}" class="shell-action">상세 화면 보기</a>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
