<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/dist/css/home.css}">
    <link rel="stylesheet" th:href="@{/dist/manage/manage.css}">
    <link rel="stylesheet" th:href="@{/dist/css/page-shell.css}">
    <link rel="stylesheet" th:href="@{/dist/css/noticeDetail.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="home-layout manage-layout notice-detail-layout">
        <nav th:replace="~{layout/homeSidebar::homeSidebar('notice')}"></nav>

        <div class="section shell-section">
            <div class="page-heading">
                <h1 class="page-title">공지사항 상세</h1>
                <p class="page-description">공지사항의 내용을 확인하세요.</p>
            </div>

            <div class="shell-content">
                <h2 th:text="${notice.title}">공지 제목</h2>
                <p>
                    작성자:
                    <span th:text="${notice.authorName}">작성자</span>
                </p>
                <p>
                    등록일:
                    <span th:text="${notice.createdAt}">등록일</span>
                </p>
                <p>
                    조회수:
                    <span th:text="${notice.viewCount}">0</span>
                </p>
                <hr>

                <div th:text="${notice.content}" style="white-space: pre-wrap;">공지 본문</div>
            </div>

            <div class="shell-actions">
                <a th:href="@{/{domainKey}/home/notice(domainKey=${domainKey})}" class="shell-action">
                    목록으로
                </a>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
