<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
	 <link rel="stylesheet" th:href="@{/dist/css/home.css}">
	 <link rel="stylesheet" th:href="@{/dist/manage/meetings.css}">
</th:block>
  	  
<th:block layout:fragment="content">
	<div class="home-layout">
	
		<nav th:replace="~{layout/homeSidebar::homeSidebar('meetings')}"></nav>
			
		<div class="section meetings-page">
			<div class="page-content meetings-content">
				<div class="meetings-heading">
					<h2 class="meetings-title">회의록 목록</h2>
					<button type="button" class="meetings-write-button">회의록 작성하기</button>
				</div>

				<div class="meetings-table-wrap">
					<table class="meetings-table">
						<thead>
							<tr>
								<th scope="col" >회의 제목</th>
								<th scope="col" class="meeting-date">회의일</th>
								<th scope="col" class="meeting-writer">작성자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="meeting: ${meetingMinutes}">
								<td>
									<p class="meeting-title" th:text="${meeting.title}"></p>
									<p class="meeting-summary" th:text="${meeting.summary}"></p>
								</td>
								<td class="meeting-date" th:text="${meeting.meetingDate}"></td>
								<td class="meeting-writer" th:text="${meeting.authorName}"></td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		
		</div>
	</div>
	
</th:block>
 
<th:block layout:fragment="script">
</th:block> 

</html>
